/*重置样式*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
main, menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  vertical-align: baseline;
  list-style: none;
  box-sizing: border-box;
}
body {
  -webkit-tap-highlight-color:transparent;
  font-family: Arial;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, main, menu, nav, section {
  display: block;
}
ol, ul {
  list-style: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}
a {
  text-decoration: none;
  color: inherit;
}
em, i {
  font-style: normal;
}
b, strong, h1, h2, h3, h4, h5, h6 {
  font-weight: normal;
}
input{
  outline: none;
  border: none;
  box-sizing: border-box;
  text-shadow: none;
  background: none;
  display: inline-block;
}
/*去掉input number上下箭头*/
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
}
input[type="number"]{
  -moz-appearance: textfield;
}
input, textarea {
  -webkit-user-modify: read-write-plaintext-only;
}
input:focus{ outline:none; }
input, button {
  outline: none;
}
.clearfix:after{
  display: block;
  clear: both;
  content: "";
  visibility: hidden;
  height: 0;
}
/* Element ui 样式重置 start */


/*  分页  */
.el-pagination{
  text-align: center;
  width: 505px;
  height: 52px;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 auto;
  font-family: 'Microsoft Yahei';
}
.el-pagination .number,.el-pagination .btn-next .el-icon, .el-pagination .btn-prev .el-icon{
  font-size: 16px;
  font-weight: normal;
  color: #6f799b;
}
.el-pagination .btn-next i, .el-pagination .btn-prev i{
  display: none !important;
}
.el-pager li{
  background: none;
}
.el-pagination-wrap{
  margin-top: -35px;
  position: relative;
  z-index: 2;

}
.el-pagination-wrap .el-pagination{
  margin-top: 0;
}
.el-pager li.btn-quicknext, .el-pager li.btn-quickprev{
  color: #6f799b;
}
@media screen and (max-width:1200px) {
  .el-pagination .number,.el-pagination .el-icon{
    display: none;
  }
  .el-pagination .active.number{
    display: block;
  }
  .el-pagination{
    text-align: center;
    background: none;
    width: 100%;
    height: 52px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
  }
  .el-pagination-wrap{
    margin-top: 30px;
  }
  .el-input .el-input__suffix{
    width: 60px;
  }
}
@media screen and (max-width:768px){
  .el-pagination{
    height: 40px;
  }
}
button{
  outline: none;
  border: none;
}
/*  下拉框  */
.el-select{
  width: 100%;
}
.el-input__inner{
  height: 48px;
  line-height: 48px;
  font-size: 16px;
  color: #7693fc;
  background: none;
  border-color: #514135 !important;
}
.el-input__suffix{
  width: 100px;
  right: 0;
  background: #7693fc;
  border-radius: 0 4px 4px 0;
}
.el-icon-arrow-up:before{
  content: "\E60C";
}
.el-select .el-input .el-select__caret{
  font-size: 18px;
  color: #fff;
}
.el-select-dropdown__item{
  font-size: 16px;
  line-height: 42px;
  height: 42px;
  background: #3c446c !important;
  color: #7693fc;
}
.el-select-dropdown__item:hover{
  background: #363d5e !important;
}
.el-select-dropdown__item.selected{
  color: #bd8534;
}
.el-select-dropdown{
  background: #3c446c;
  border: none;
}
.el-popper[x-placement^=bottom] .popper__arrow{
  border-bottom-color: #3c446c
}
.el-popper[x-placement^=bottom] .popper__arrow::after{
  border-bottom-color: #3c446c
}
.el-popper[x-placement^=top] .popper__arrow{
  border-top-color: #3c446c
}
.el-popper[x-placement^=top] .popper__arrow::after{
  border-top-color: #3c446c
}
.swiper-pagination-bullet{
  margin: 0 5px;
  width: 10px;
  height: 10px;
  background-color: #00a99e;
}
